---
description: >-
  To verify registration, open the verification email on your device and click
  on the verification link. When prompted click "open in wise.one".
---

# Registration Verification

Wise.one registration does not require passwords but rather relies on "second-factor" authenitcation using email. Read about the benefits of registration.

To register:

